@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply relative;
  background-color: #000;
  background-image: url('/bg-pattern.png'), linear-gradient(180deg, rgba(0,0,0,0.8), rgba(0,0,0,0.9));
  background-size: cover;
  background-position: center;
  color: white;
}

h1, h2, h3, h4, h5, h6, p, span, a, div {
  color: #ffffff; /* 明示的に文字を白に */
}